<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools" layout-align="center center">
        <md-button class="md-icon-button" aria-label="Add new todo" ng-click="$ctrl.showPrompt($event)">
            <md-icon md-font-library="material-icons">add_circle_outline</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Undo" ng-click="">
            <md-icon md-font-library="material-icons">undo</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Redo" ng-click="">
            <md-icon md-font-library="material-icons">redo</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Filter list" ng-click="$ctrl.toggleFiltersVisibility()">
            <md-icon md-font-library="material-icons">filter_list</md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <md-list>
        <visibility-filter ng-show="$ctrl.toolbarVisibility"></visibility-filter>
        <div ng-repeat="todo in $ctrl.todos track by $index">
            <md-list-item ng-click="$ctrl.toggleTodo(todo);">
                <p ng-class="{completed: todo.completed === true}">{{todo.name}}</p>
                <md-button class="md-icon-button" aria-label="Remove todo" ng-click="$ctrl.removeTodo(todo.id)">
                    <md-icon md-font-library="material-icons">delete</md-icon>
                </md-button>
                <md-checkbox class="md-secondary" ng-model="todo.completed"></md-checkbox>
            </md-list-item>
            <md-divider></md-divider>
        </div>
    </md-list>
</md-content>

<style>
    .completed {
        text-decoration: line-through;
    }
</style>